<div class="controls">
  <h3>Play an organ</h3>
  <button id="play">PLAY</button>
  <button id="stop">STOP</button>
</div>
<style>
div.controls {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
}s
</style>

<script>

var background = new buzz.sound("/sounds/organ.mp3");
background.play().loop();

</script